# MANIFEST.in
#
# This tells distutils what files to distribute.

include CONTRIB
include LICENSE
include README.md
include MANIFEST.in

# Main
recursive-include netscan *.py
recursive-exclude * .html # from test output
recursive-exclude * .yaml # from test output
recursive-exclude * .gitignore
recursive-exclude * *.pyc # e.g. from running the unit tests

